In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("/Users/anand/Desktop/FAI/Data file/preprocessed_df.csv")
df.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,1,M14860,M,298.1,308.6,0.315873,42.8,0,0,No Failure
1,2,L47181,L,298.2,308.7,0.315873,46.3,3,0,No Failure
2,3,L47182,L,298.1,308.5,0.315873,49.4,5,0,No Failure
3,4,L47183,L,298.2,308.6,0.315873,39.5,7,0,No Failure
4,5,L47184,L,298.2,308.7,0.315873,40.0,9,0,No Failure

In [3]:
df.drop(columns= ['Product ID'], axis=1, inplace=True)

In [4]:
df.head()

,UDI,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,1,M,298.1,308.6,0.315873,42.8,0,0,No Failure
1,2,L,298.2,308.7,0.315873,46.3,3,0,No Failure
2,3,L,298.1,308.5,0.315873,49.4,5,0,No Failure
3,4,L,298.2,308.6,0.315873,39.5,7,0,No Failure
4,5,L,298.2,308.7,0.315873,40.0,9,0,No Failure

In [5]:
df.columns

Index(['UDI', 'Type', 'Air temperature [K]', 'Process temperature [K]',
       'Rotational speed [rpm]', 'Torque [Nm]', 'Tool wear [min]', 'Target',
       'Failure Type'],
      dtype='object')

In [6]:
# Mapping the Type as O , 1 and 2 to convert the categorical data to numerical data
# Ordinal encoding for 'Type' (L < M < H)
type_mapping = {'L': 0, 'M': 1, 'H': 2}
df['Type'] = df['Type'].map(type_mapping)

In [7]:
df['Failure Type'].value_counts()

Failure Type
No Failure                  9652
Heat Dissipation Failure     112
Power Failure                 95
Overstrain Failure            78
Tool Wear Failure             45
Random Failures               18
Name: count, dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# Make a copy of the original DataFrame
# (Assuming 'df' is your DataFrame with the 'Failure Type' column)
df_original = df.copy()

# Initialize the LabelEncoder
le = LabelEncoder()

# Fit and transform the 'Failure Type' column
# This creates a new column with integer labels
df_original['Failure_Type_Encoded'] = le.fit_transform(df_original['Failure Type'])

# Drop the original 'Failure Type' column
df_final_label_encoded = df_original.drop(columns=['Failure Type'])

# --- Display the results ---
print("DataFrame after Label Encoding:")
print(df_final_label_encoded.head())

print("\n" + "="*40 + "\n")

# --- Show the mapping the encoder created ---
print("Mapping of Failure Types to Encoded Labels:")
for i, class_name in enumerate(le.classes_):
    print(f"{class_name}  --->  {i}")

DataFrame after Label Encoding:
   UDI  Type  Air temperature [K]  Process temperature [K]  \
0    1     1                298.1                    308.6
1    2     0                298.2                    308.7
2    3     0                298.1                    308.5
3    4     0                298.2                    308.6
4    5     0                298.2                    308.7

   Rotational speed [rpm]  Torque [Nm]  Tool wear [min]  Target  \
0                0.315873         42.8                0       0
1                0.315873         46.3                3       0
2                0.315873         49.4                5       0
3                0.315873         39.5                7       0
4                0.315873         40.0                9       0

   Failure_Type_Encoded
0                     1
1                     1
2                     1
3                     1
4                     1

========================================

Mapping of Failure Types to Encoded Labels:
Heat Dissipation Failure  --->  0
No Failure  --->  1
Overstrain Failure  --->  2
Power Failure  --->  3
Random Failures  --->  4
Tool Wear Failure  --->  5

In [9]:
df_final_label_encoded.drop(columns = ['UDI'] , axis = 1 , inplace = True)

In [10]:
df_final_label_encoded.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure_Type_Encoded
0,1,298.1,308.6,0.315873,42.8,0,0,1
1,0,298.2,308.7,0.315873,46.3,3,0,1
2,0,298.1,308.5,0.315873,49.4,5,0,1
3,0,298.2,308.6,0.315873,39.5,7,0,1
4,0,298.2,308.7,0.315873,40.0,9,0,1

In [11]:
df_final_label_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Type                     10000 non-null  int64
 1   Air temperature [K]      10000 non-null  float64
 2   Process temperature [K]  10000 non-null  float64
 3   Rotational speed [rpm]   10000 non-null  float64
 4   Torque [Nm]              10000 non-null  float64
 5   Tool wear [min]          10000 non-null  int64
 6   Target                   10000 non-null  int64
 7   Failure_Type_Encoded     10000 non-null  int64
dtypes: float64(4), int64(4)
memory usage: 625.1 KB

In [12]:

df_final_label_encoded.to_csv('final_preprocessed_df.csv', index=False)

In [13]:
df_final_label_encoded.columns

Index(['Type', 'Air temperature [K]', 'Process temperature [K]',
       'Rotational speed [rpm]', 'Torque [Nm]', 'Tool wear [min]', 'Target',
       'Failure_Type_Encoded'],
      dtype='object')

In [14]:
df_final_label_encoded['Target'].value_counts()

Target
0    9661
1     339
Name: count, dtype: int64

In [15]:
df_final_label_encoded['Failure_Type_Encoded'].value_counts()

Failure_Type_Encoded
1    9652
0     112
3      95
2      78
5      45
4      18
Name: count, dtype: int64

In [17]:
df_final_label_encoded['Failure_Type_Encoded'].value_counts()

Failure_Type_Encoded
1    9652
0     112
3      95
2      78
5      45
4      18
Name: count, dtype: int64